:root{
  font-size: 16px;
}
html{
    width: 100%;
    height: 100%;
    }
  body{
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue',Helvetica, sans-serif;
    background: maroon;
    }
  .container{
    width: 100%;
  }

  /* Top navbar */
    .navbar{
        height: 5.2rem;
        width: 100%;
    }
     .logo{
      float: left;
      color: white;
    }
    .logo h3{
      line-height: 40%;
    } 
    @media all and (max-width: 767px){
      .navbar{
        height: auto;
      }
      .navbar-brand svg{
        display: none;
      }
      .navbar-brand{
      float: none;
    }
    }
    @media all and (min-width: 768px){
      .logo{
        display: none;
      }
    }
/* Top navbar end */

/* Footer */
footer{
    color: white;
    background: #333;
    text-align: center;
    padding: 3.2rem 0;
    }
  footer ul{
    list-style: none;
  }
  footer li{
    display: inline-block; 
    }
  footer a{
    text-decoration: none;
    color: white;
    }
  footer li a{
    padding: 1.2rem;
    font-size: 1.25rem;
  }
  .copyright {
      font-size: 0.66rem;
      padding-bottom: 0.75rem;
      color: white;
      }
  .fa{
    font-size: 3.75rem
  }
  /* Footer end */