*{margin: 0;padding: 0;font-family: 'Roboto', sans-serif;}
header{background-color: #709911;font-size: 6vw;color: white;height: 20vw;}
main{margin: 5%;padding: 20%;}
label {
    font-weight: bold;
    font-size: 2vmax;
    color: white;
    line-height: 1.5;
    padding-left: 1vh;
}
body {background-color: #202124;}
input {
    border-radius: 1.5vw;
    border: 0.2vw solid #3c4043;
    font-size: 2vmax;
    line-height: 1.5;
    outline: none;
    font-weight: bold;
    color: #FFFFFF;
    padding: 0.5vh 1vh 0.5vh 1vh;
    background-color: #303134;
}
main h1{
    color: white;
    text-decoration: underline;
    font-size: 4vmax;
    padding: 1vh 0 1vh 0;
}
footer{
    background-color: #709911;
    position: relative;
    bottom: 0;
    display: inline-block;
    padding: 1vw;
    box-sizing: border-box;
    width: 100%;
    font-size: 2vmax;
}
footer li{display: inline;}
footer a{text-decoration: none;color: white;}
.fa {
    padding: 1vw;
    font-size: 2.5vmax;
    width: 3vmax;
    text-align: center;
    margin: .5vw .2vw;
    border-radius: 40%;
    }
.fa:hover {opacity: 0.7;}
.fa-facebook {background: #3B5998;}
.fa-youtube {background: #bb0000;}
.fa-instagram {background-color: #125688;}
@media all and (min-aspect-ratio: 8/5) and (min-width: 801px){
    main{
        padding: 10%;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        gap: 1vw;
    }
    footer li{padding: 1.5vw;}
}
@media all and (max-width: 480px){
    label, input{font-size: 2.4vmax;}
}